.cards{

display:flex;

flex-wrap:wrap;

gap:20px;

}

.card{

width:220px;

padding:20px;

box-shadow:0 0 10px #ddd;

border-radius:10px;

text-align:center;

}

button{

margin-top:15px;

padding:10px 20px;

border:none;

/* background:#198754; */
    border:1px solid black;

color:white;

cursor:pointer;

border-radius:5px;

}